<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/styles/index_style.css">
    <script src="product.js"></script>
</head>

<body>
    <header>
        <h1>PINDY</h1>
        <nav>
            <ul>
                <li><a href="/products">Home</a></li>
                <% if (user.role==='admin' ) { %>
                    <li><a href="/add-product">Agregar Producto</a></li>
                    <% } %>
                        <li><a href="#">Historial de compras</a></li>
                        <li><a href="/shopping-cart">&#x1F6D2;</a></li>
                        <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container"></div>
        <div id="page-content" class="page-content">

        </div>
        </div>
    </main>
</body>