<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/styles/index_style.css">
    <script src="app.js"></script>
</head>

<body>
    <div class="page-nav">
        <h1>Tienda Online</h1>
        <button id="checkout" class="button-checkout" onclick="pay()">Pagar $ </button>
        <% if (user.role==='admin' ) { %>
            <button id="add-product" class="button-add-product" onclick="window.location.href='/add-product'">Agregar un
                producto</button>
            <% } %>
                <button id="logout" class="button-loggout" onclick="window.location.href='/logout'">Cerrar sesion
                </button>
    </div>
    <div id="page-content" class="page-content">


    </div>
</body>