body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(252, 246, 225);
}

h1{
    font-size: 50px;
}

header {
    text-align: center;
    margin: 20px 0;
}

main.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

form.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.label {
    margin: 10px 0 5px;
    font-size: 18px;
}

.text-input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-btn {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    margin: 10px 0 5px;
}

.register-link {
    display: inline-block;
    background-color: white;
    color: #3498db; 
    padding: 10px 20px;
    border: 1px solid #3498db;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px; 
    margin: 10px 0 5px;
}

.login-image {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(252, 248, 243);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 420px;
    width: 830px;
}